* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Geo, Arial;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    gap: 15px;
    padding-top: 120px;
}
.header {
    background-color: black;
    color: white;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    padding: 5px 35px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.headerDiv {
    display: flex;
    justify-content: center;
    align-items: center;

}
svg {
    width: 80px;
    max-width: 100%;
}
/* .leaf {
    width: 80px;
    max-width: 100%;
    filter: invert(100%) sepia(100%) saturate(1000%) hue-rotate(180deg) brightness(100%) contrast(100%);
} */
.title {
    font-size: 50px;
}
.title { animation: slideIn 1.2s ease-in-out;}
@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.container {    
    border: 7px solid black;
    border-radius: 30px;
    box-shadow: 10px 10px;
    padding: 24px;
    overflow: hidden;
}
.time-run{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.countdownContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border: 5px solid black;
    border-radius: 30px;
    width: 550px;
}
#subContainer {
    display: flex;
    gap: 30px;
}
.box {
    display: flex;
    flex-direction: column;
}
.label, .nextCh  {
    font-size: 25px;
}
#days, #hours, #minutes, #seconds {
    font-weight: bold;
    font-size: 40px;
}
.colon {
    margin: 0;
    margin-top: 30px;
    font-size: 40px;
    font-weight: bold;
}
.waiting {
    border: 3px solid black;
    width: 300px;
    max-width: 100%;
    position: relative;
    z-index: -1;
    display: block;
}
.shadow {
    display: inline-block;
    position: relative;
    box-shadow:inset 7px 7px 5px rgba(0, 0, 0, 0.3);
}
.hidden {
    display: none !important;
}

/* SECTION II --- TIME UP */                                              

.time-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 550px;
    height: 519.19px;
}
.time-up {animation: swipeDown 0.9s ease-out}
@keyframes swipeDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.done {
    width: 250px;
    max-width: 100%;
    border: 3px solid black;
    position: relative;
    z-index: -1;
    display: block;
}
.shadow_1 {
    display: inline-block;
    position: relative;
    box-shadow:inset 7px 7px 5px rgba(0, 0, 0, 0.3);
}     
.buttons {
    display: flex;
    gap: 250px;
}
button {
    padding: 10px 15px;
    font-size: 30px;
    font-family: Geo, Arial;
    border: 2px solid black;
    border-radius: 30px;
    cursor: pointer;
}
#cancelBtn {
    background-color: black;
    color: white;
    transition: all 0.3s ease-in-out;
}
#readBtn {
    background-color: white;
    color: black;
    padding: 10px 25px;
    transition: all 0.3s ease-in-out;
}

#cancelBtn:hover {
    background-color: white;
    color: black;
}
#readBtn:hover {
    background-color: black;
    color: white;
}

#cancelBtn:active {
    background-color: black;
    color: white;
    transform: scale(0.5);
}
#readBtn:active {
    transform: scale(0.5);
}
#cancelBtn {animation: pulse 2s infinite;}
#readBtn {animation: pulse 2s infinite;}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


#dave {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}
#dave:hover {
    opacity: 0.8;
}

.short {
    display: none;
}


/* SECTION II --- MEDIA QUERY*/ 

@media (max-width: 457px) {
    .header {
        padding: 10px;
        width:58%;
    }
    .long {
    display: none;
    }
    .short {
        display: inline;
    }
}

@media (max-width: 735px) {
    .title {
        font-size: 30px;
    }
    svg {
        width: 50px;
    }
}

@media (max-width: 600px) {
    .main {
        padding-top: 100px;
    }
    .container {
        width: 90%;
        padding: 15px;
   
    }
    .countdownContainer, .time-up {
        width: 99%;
        height: auto;
    }
    .title {
        font-size: 25px;
    }
    svg {
        width: 50px;
    }
    #subContainer {
        gap: 15px;
    }
    #days, #hours, #minutes, #seconds, .colon {
        font-size: 25px;
    }
    .colon {
        margin-top: 20px;
    }
    .label, .nextCh {
        font-size: 18px;
    }
    .buttons {
        gap: 20px;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    button {
        width: 100%;
    }
    .done, .waiting {
        width: 180px;
    }
}


/* SVG ANIMATION */


/***************************************************
 * Generated by SVG Artista on 2/17/2026, 10:10:31 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

svg .svg-elem-1 {
  stroke-dashoffset: 1967.583740234375px;
  stroke-dasharray: 1967.583740234375px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}

svg.active .svg-elem-1 {
  stroke-dashoffset: 0;
}

svg .svg-elem-2 {
  stroke-dashoffset: 859.3569946289062px;
  stroke-dasharray: 859.3569946289062px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
}

svg.active .svg-elem-2 {
  stroke-dashoffset: 0;
}

svg .svg-elem-3 {
  stroke-dashoffset: 354.73309326171875px;
  stroke-dasharray: 354.73309326171875px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s;
}

svg.active .svg-elem-3 {
  stroke-dashoffset: 0;
}



/* .svg-elem-1 {
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;
    animation: draw 2s ease-out 0.2s forwards;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

.svg-elem-2 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 1s  ease-in 0.2s forwards;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

.svg-elem-3 {
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: draw 0.7s ease-in 0.6s forwards;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
} */
